
$primary-color: #D33126;
$primary-color-darker: #99241C;
$secondary-color: #FEA30E;
$secondary-color-darker: #B9770A;

$gray-scale-color-white: #FFFFFF;
$gray-scale-color-lighter: #F9F9F9;
$gray-scale-color-light: #EBEBEB;
$gray-scale-color-default: #CCCCCC;
$gray-scale-color-dark: #A1A1A1;
$gray-scale-color-darker: #525252;
$gray-scale-color-black: #000000;

$positive-color: #3ACC6C;
$negative-color: #FF0000;
$info-color: #5F68FD;
